*, *::before, *::after { box-sizing: border-box; }
html { font-size: 62.5%; }

:root {
   --blue: hsl(246, 80%, 60%);
   --lightRed: hsl(15, 100%, 70%);
   --softBlue: hsl(195, 74%, 62%);
   --lightRedStudy: hsl(348, 100%, 68%);
   --limeGreen: hsl(145, 58%, 55%);
   --violet: hsl(264, 64%, 52%);
   --softOrange: hsl(43, 84%, 65%);
   --white: #fff;

   --veryDarkBlue: hsl(226, 43%, 10%);
   --darkBlue: hsl(235, 46%, 20%);
   --desaturatedBlue: hsl(235, 45%, 61%);
   --paleBlue: hsl(236, 100%, 87%);

   --hoverCard: #383e94;
}

body {
   font-size: 1.8rem;
   font-family: 'Rubik', sans-serif;
   font-weight: 300;
   background-color: var(--veryDarkBlue);
   color: var(--white);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 10rem 0;
}

/* main container */
.cards-container {
   max-width: min(144rem, 90%);
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 3rem;
}

/* main card */
.card__main {
   background-color: var(--darkBlue);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: stretch;
   border-radius: 2rem;
   overflow: hidden;
}
.card__main__header {
   background-color: var(--blue);
   padding: 3rem;
   border-radius: 2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.card__main__header > img {
   border-radius: 50%;
   border: var(--white) solid .5rem;
   width: 10rem;
   height: auto;
}
.card__main__header__title > h2,p {
   line-height: 1.5;
   margin: 0;
   font-weight: 300;
}
.card__main__categories {
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   padding: 2rem;
   list-style: none;
   margin: 0;
}
.card__main__button {
   border: none;
   padding: 1rem;
   color: var(--desaturatedBlue);
   background-color: transparent;
}
.card__main__button:hover {
   color: var(--white);
}
.card__main__button--select {
   color: var(--white);
}

/* cards */
.cards {
   display: grid;
   grid-auto-rows: 1fr;
   grid-gap: 3rem;
}
.card {
   background-color: var(--darkBlue);
   border-radius: 2rem;
   padding: 3rem;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}
.card:hover {
   background-color: var(--hoverCard);
}
.card header {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
.card__title {
   margin: 0;
}
.card__hour {
   font-size: 4rem;
   margin: 0;
}
.card footer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-end;
   gap: 2rem;
   color: var(--paleBlue);
}
/*
* Mobile: 375px
* Desktop: 1440px
*/

@media (min-width: 1440px) {
   .cards-container {
      flex-direction: row;
   }
   .cards {
      grid-row: repeat(2, 1fr);
      grid-template-columns: repeat(3, 1fr);
   }
   .card__main {
      justify-content: flex-start;
      max-width: 25%;
   }
   .card__main__header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
   }
   .card__main__header > img {
      margin-bottom: 4rem;
   }
   .card__main__header__title > h2 {
      font-size: 6rem;
   }
   .card__main__categories {
      flex-direction: column;
      align-items: flex-start;
   }
}

/* attribution */
.attribution {
   margin: 3rem 0;
   font-size: 1.1rem;
   text-align: center;
}

.attribution a {
   color: var(--paleBlue);
}
